{% extends 'FEBundle::base.html.twig' %}
{% block title %}{% trans %}إضافة نصيحة{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <div class="home-carousel-one carousel-second-style owl-carousel hidden-xs">
        {{ render(controller('CMSBundle:FrontEnd/Banner:Banner' , {'placment' : 1 })) }}
    </div>
    <div class="page-banner" style="background: #ffc81b;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title"><i class="fa fa-plus"></i> إضافة نصيحة</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('fe_home') }}">الرئيسية</a></li>
                        <li><a href="{{ path('fe_my_profile') }}">الملف الشخصي</a></li>
                        <li class="active">إضافة نصيحة</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="page-layer-styled" class="page-wrapper">
        <div id="left-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-main">
                    <main id="main" class="main">
                        <div class="row">
                            <div class="col-md-8 forms-wrapper" style="padding-top: 30px;">
                                {% for flashMessage in app.session.flashbag.get('errorTip') %}
                                    <div role="alert" class="alert alert-danger col-md-12" style="margin-top: 15px;text-align: center;padding:5px;color:#CC0000;">{{ flashMessage }}</div>
                                {% endfor %}
                                <div class="register-form-wwrapper">
                                    <h2 class="form-heading heading-bottom-line">إضافة نصيحة</h2>
                                    <p class="alert alert-warning" style="padding:3px 7px;margin:0 15px 10px">لن تنشر النصيحة على الموقع قبل مرور ٢٤ ساعة حتى يتم مراجعته أولا قبل النشر.</p>
                                    <form id="register" class="register-form" action="{{ path('fe_tip_create') }}" method="post" novalidate="novalidate" enctype="multipart/form-data">
                                        <div class="clearfix">
                                            <p class="col-md-6 col-sm-6 col-xs-12">
                                                <label>التصنيف</label> 
                                                <select id="recipe-skill-level" name="data[superCategory]" class="form-control chosen-select">
                                                    {% for superCategory in superCategories %}
                                                        <option value="{{ superCategory.id }}">{{ superCategory.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <p class="col-md-12 col-sm-12 col-xs-12">
                                                <label>النصيحة   <sub class="requir" id="charact"></sub></label> 
                                                <textarea class="required" maxlength='193' id="recipe-description" name="data[text]" data-msg-required="الرجاء كتابة النصيحة " data-rule-required="true" aria-required="true"></textarea>
                                            </p>
                                        </div>
                                        <div class="clearfix col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 25px">
                                            <button type="submit" value="submit" name="action" class="submit-btn btn btn-success" style="display: inline-block; padding: 7px 30px;">ضيفي النصيحة</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-md-4 col-sidebar">
                                <aside id="sidebar" class="sidebar">
                                    <section class="widget">
                                        {{ render(controller('CMSBundle:FrontEnd/Banner:showOneBanner' , {'placment' : 3 })) }}
                                    </section>
                                </aside>
                                <!-- .sidebar -->
                            </div>
                        </div>
                        <!-- .forms-wrapper -->
                    </main>
                    <!-- .main -->
                </div>
                <!-- .col-main -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fe/js/contact.js') }}"></script>
    <script>
        $(document).ready(function() {
            var text_max = 193;
            $('#charact').html(' " الرجاء كتابة ' +  text_max  + 'حرف كحد أقصى "');
            $('#recipe-description').keyup(function() {
                var text_length = $('#recipe-description').val().length;
                var text_remaining = text_max - text_length;
                $('#charact').html(' " الرجاء كتابة ' +  text_remaining  + 'حرف كحد أقصى "');
            });
        });
    </script>
{% endblock %}