{% extends 'AdminTemplateBundle::base.html.twig' %}
{% set page_title %}Category (level 3) creation{% endset %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-bubble4"></i> {{ page_title }}</h6>
        </div>
        <div class="panel-body">
            <form class="form bootstrap-validator-form" id="yadaweyaform" action="{{ path('subcategory_create',{'pId':category.id }) }}" role="form" method="POST">
                <div class="form-group">
                    <label for="name_{{ secondLang }}">Name {{ secondLang|upper }}</label>
                    <input type="text" class="form-control" id="name_{{ secondLang }}" required="required" name="data[name_{{ secondLang }}]">
                </div>
                {{ form_widget(form) }}
                <br />
                <fieldset>
                    <legend>Data</legend>
                    {{tinymce_init()}} 
                    <div class="form-group">
                        <label for="dynamicpagetype_brief_{{ secondLang }}" class="required">Page Brief {{ secondLang|upper }}</label>
                        <textarea id="dynamicpagetype_brief_{{ secondLang }}" name="post[brief_{{ secondLang }}]" class="form-control" required="required" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dynamicpagetype_content_{{ secondLang }}" class="required">Page Content {{ secondLang|upper }}</label>
                        <textarea id="dynamicpagetype_content_{{ secondLang }}" name="post[description{{ secondLang|capitalize }}]" class="tinymce " data-theme="bbcode"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dynamicpagetype_brief" class="required">Page Brief</label>
                        <textarea id="dynamicpagetype_brief" name="post[brief]" class="form-control" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dynamicpagetype_content" class="required">Page Content</label>
                        <textarea id="dynamicpagetype_content" name="post[description]" class="tinymce " data-theme="bbcode"></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>SEO</legend>
                    <div class="form-group">
                        <label for="title_{{ secondLang }}">Title {{ secondLang|upper }}</label>
                        <input type="text" class="form-control" id="title_{{ secondLang }}" name="seo[title_{{ secondLang }}]">
                    </div>
                    <div class="form-group">
                        <label for="metaTag_{{ secondLang }}">Meta Tag {{ secondLang|upper }}</label>
                        <textarea  type="text" class="form-control" id="metaTag_{{ secondLang }}" name="seo[metaTag_{{ secondLang }}]"></textarea>
                    </div>
                    {{ form_widget(formSeo) }}
                </fieldset>
                <div class="form-group text-right">
                    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Create</button>
                    <button class="btn btn-danger" type="reset"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </form>
            <div >
                <a href="{{ path('subcategory',{'pId':category.id}) }}" class="btn btn-warning">Back to the list</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/admintemplate/assets/plugins/slug/jquery.slug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#yadaweyaform').validate();
            
            $("#md_bundle_cmsbundle_subcategory_name").slug({
                slug: 'slug', // class of input / span that contains the generated slug 
                hide: false        // hide the text input, true by default 
            });
        });
    </script>   
{% endblock %}