{% extends 'FEBundle::base.html.twig' %}
{% block title %}{% trans %}إضافة الوصفة{% endtrans %}{% endblock %}

{#{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fe/css/datepicker.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/fe/js/timepicker/bootstrap-timepicker.min.css') }}"/>
{% endblock %}#}

{% block breadcrumb %}
    <div class="home-carousel-one carousel-second-style owl-carousel hidden-xs">
        {{ render(controller('CMSBundle:FrontEnd/Banner:Banner' , {'placment' : 1 })) }}
    </div>
    <div class="page-banner" style="background: #e82327;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title"><i class="fa fa-plus"></i> إضافة الوصفة</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('fe_home') }}">الرئيسية</a></li>
                        <li><a href="{{ path('fe_my_profile') }}">الملف الشخصي</a></li>
                        <li class="active">إضافة الوصفة</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="page-layer-styled" class="page-wrapper">
        <div id="left-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-main">
                    <main id="main" class="main">
                        <div class="row">
                            <div class="col-md-8 forms-wrapper" style="padding-top: 30px;">
                                {% for flashMessage in app.session.flashbag.get('errorRecipe') %}
                                    <div role="alert" class="alert alert-danger col-md-12" style="margin-top: 15px;text-align: center;padding:5px;color:#CC0000;">{{ flashMessage }}</div>
                                {% endfor %}
                                <div class="register-form-wwrapper">
                                    <h2 class="form-heading heading-bottom-line">إضافة الوصفة </h2>
                                    <p class="alert alert-warning" style="padding:3px 7px;margin:0 15px 10px">لن تنشر الوصفة على الموقع قبل مرور ٢٤ ساعة حتى يتم مراجعتها أولا قبل النشر.</p>
                                    <form id="register" class="register-form" action="{{ path('fe_recipe_create') }}" method="post" novalidate="novalidate" enctype="multipart/form-data">
                                        <div class="clearfix">
                                            <p class="col-md-6 col-sm-6 col-xs-12">
                                                <label>إسم الوصفة<span class="requir">*</span></label>
                                                <input id="fName" class="required" name="data[title]" type="text" placeholder="الإسم" data-msg-required="برجاء كتابة إسم الوصفة" {% if data is defined %}value="{{ data.title }}"{% endif %}>
                                            </p>
                                            <p class="col-md-6 col-sm-6 col-xs-12">
                                                <label>التصنيف</label>
                                                <select id="recipe-skill-level" name="data[subCategory]" class="form-control chosen-select">
                                                    {% for subCategory in subCategories %}
                                                        <option {% if data is defined and data.subCategory == subCategory.id %}selected=""{% endif %} value="{{ subCategory.id }}">{{ subCategory.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <p class="col-md-6 col-sm-6 col-xs-12 bootstrap-timepicker timepicker">
                                                <label>وقت التحضير</label>
                                                <input id="pre" name="data[preparationTime]" type="number" placeholder="الوقت بالدقائق" min="1" {% if data is defined %}value="{{ data.preparationTime }}"{% endif %}>
                                            </p>
                                            <p class="col-md-6 col-sm-6 col-xs-12 bootstrap-timepicker timepicker">
                                                <label>وقت الطهى</label>
                                                <input id="cook" class="timepicker" name="data[cookingTime]" type="number" placeholder="الوقت بالدقائق" min="1" {% if data is defined %}value="{{ data.cookingTime }}"{% endif %}>
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <p class="col-md-6 col-sm-6 col-xs-12">
                                                <label>عدد الأشخاص</label>
                                                <input id="persons" name="data[peopleNo]" type="number" placeholder="عدد الأشخاص" data-msg-number="برجاء كتابة الرقم صحيح" min="1" {% if data is defined %}value="{{ data.peopleNo }}"{% endif %}>
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                            <label class="col-md-12 col-sm-12 col-xs-12"></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>تحميل الصور</label>
                                                <p style="color: red;">يرجى إضافة الصور التى تريدينها ان تظهر فالصفحات الخاصة</p> 
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 submit-image">
                                                <div class="pics_photos">
                                                    <span class="btn btn-block">
                                                        {{ form_row(form._token) }}
                                                        <input id="fileupload" type="file" name="files[]" multiple="" style="padding: 10px;" class="btn-block btn">
                                                    </span>
                                                </div><!--/.pics_photos -->
                                            </div>
                                        </div>
                                        {#<div class="clearfix">
                                            <p class="col-md-12 col-sm-12 col-xs-12">
                                                <label>فيديو</label>
                                                <input id="video" class="required" name="video" type="text" placeholder="فيديو">
                                            </p>
                                        </div>#}
                                        <div class="clearfix">
                                            {{ tinymce_init() }} 
                                            <p class="col-md-12 col-sm-12 col-xs-12">
                                                <label>المقادير <span class="requir">*</span></label> 
                                                <textarea class="required tinymce" data-theme="bbcode" id="recipe-short-description" name="post[ingredients]" data-msg-required="الرجاء كتابة المقادير" data-rule-required="true" aria-required="true">{% if post is defined %}{{ post.ingredients }}{% endif %}</textarea>
                                            </p>
                                            <p class="col-md-12 col-sm-12 col-xs-12">
                                                <label>طريقة عمل الوصفة  <span class="requir">*</span></label> 
                                                <textarea class="required tinymce" data-theme="bbcode" id="recipe-description" name="post[recipe]" data-msg-required="الرجاء كتابةطريقة عمل الوصفة " data-rule-required="true" aria-required="true">{% if post is defined %}{{ post.recipe }}{% endif %}</textarea>
                                            </p>
                                        </div>
                                        <div class="clearfix col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 25px">
                                            <button type="submit" value="submit" name="action" class="submit-btn btn btn-success" style="display: inline-block; padding: 7px 30px;">ضيفي الوصفة</button>
                                            <button type="submit" value="draft" class="btn btn-danger" style="display: inline-block;padding: 7px 30px;">حفظ كمسودة</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-md-4 col-sidebar">
                                <aside id="sidebar" class="sidebar">
                                    <section class="widget">
                                        {{ render(controller('CMSBundle:FrontEnd/Banner:showOneBanner' , {'placment' : 3 })) }}
                                    </section>
                                </aside>
                                <!-- .sidebar -->
                            </div>
                        </div>
                        <!-- .forms-wrapper -->
                    </main>
                    <!-- .main -->
                </div>
                <!-- .col-main -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fe/js/contact.js') }}"></script>
    <script src="{{ asset('bundles/fe/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/fe/js/timepicker/bootstrap-timepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#datepicker').datepicker();
        {#$('#pre, #cook').timepicker({
            minuteStep: 1,
            template: 'dropdown',
            appendWidgetTo: 'body',
            showSeconds: true,
            showMeridian: false,
            defaultTime: false
        });#}
                        });
                        var editorContent = tinyMCE.get('tinyeditor').getContent();
                        if (editorContent == '')
                        {
                            alert('test');
                        }
                        else
                        {
                        }
                    });
    </script>
{% endblock %}