{% extends 'FEBundle::base.html.twig' %}
{% block title %}{{ person.seo.title }}{% endblock %}

{% block breadcrumb %}
    <div class="home-carousel-one carousel-second-style owl-carousel">
        {{ render(controller('CMSBundle:FrontEnd/Banner:Banner' , {'placment' : 1 })) }}
    </div>
    <div class="page-banner" style="background: #ffc81b;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title pull-right"><i class="fa fa-user"></i> {{ person.seo.title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('fe_home') }}">الرئيسية</a></li>
                        <li><a href="{{ path('fe_show_profile', {'slug':person.seo.slug}) }}">{{ person.seo.title }}</a></li>
                        <li>صندوق الوصفات</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="user-profile">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <div class="current-user">
                        <figure class="user-photo thumbnail-hover">
                            {% if person.image != null %}
                                <img src="{{ asset('uploads/person/'~person.id~'/'~person.image.id) }}" alt="{{ person.firstName }}"/>
                            {% elseif person.firstAccount.userFacebook != null %}
                                <img src="https://graph.facebook.com/{{ person.firstAccount.userFacebook.facebookId }}/picture?type=large&width=201&height=201"  alt="{{ person.firstName }}"/>
                            {% else %}    
                                <img src="{{ asset('bundles/fe/images/user-2.jpg') }}" alt="{{ person.firstName }}"/>
                            {% endif %}
                        </figure>
                        <div class="user-details" style="margin-bottom:10px;">
                            <h2 class="user-name">{{ person.firstName ~ ' ' ~ person.familyName }}</h2>
                            <p>البريد الإلكترونى :<br/> {{ person.email }}</p>
                                {% if app.user != null and app.user.person.id != person.id %}
                                    {% if app.user.person.isFollower(person.id) == false %}
                                    <a class="btn btn-info btn-block" href="#" style="margin: 0 auto!important;width: 100px">تابعنى</a>
                                {% else %}
                                    <a href="#" class="btn btn-warning btn-block" style="margin: 0 auto!important;width: 100px">إلغاء المتابعة</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xs-12 recipe-request-form-column">
                    <h3 class="form-heading text-center">المتابعين</h3>
                    {% if followers|length > 0 %}
                        {% for follower in followers %}
                            <div class="col-xs-3 hidden-xs">
                                <a href="{{ path('fe_show_profile', {'slug':follower.seo.slug}) }}">
                                    {% if follower.image != null %}
                                        <img src="{{ asset('uploads/person/'~follower.id~'/'~follower.image.id) }}" class="img-circle" style="height: 120px" alt="{{ follower.firstName }}"/>
                                    {% elseif follower.firstAccount.userFacebook != null %}
                                        <img src="https://graph.facebook.com/{{ follower.firstAccount.userFacebook.facebookId }}/picture?type=large&width=201&height=201" class="img-circle" style="height: 120px" alt="{{ follower.firstName }}"/>
                                    {% else %}    
                                        <img src="{{ asset('bundles/fe/images/user.jpg') }}" class="img-circle" style="height: 120px" alt="{{ follower.firstName }}"/>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                        {% if followers|length > 4 %}
                        <div class="col-md-12 text-center">
                            <a href="{{ path('fe_show_follower', {'slug':person.seo.slug}) }}">المزيد</a>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning">لا يوجد متابعين حتى الأن</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- .container -->
    </section>
    <!-- .user-profile -->
    <div class="page-wrapper user-accounts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-main">
                    <main id="main" class="main">

                        <div class="tabs-wrapper">
                            <ul class="tab-list clearfix">
                                <li class="btn-danger"><a href="{{ path('fe_show_profile_recipe',{'slug':person.seo.slug}) }}">الوصفات</a> </li>
                                <li class="btn-warning"><a href="{{ path('fe_show_profile_article',{'slug':person.seo.slug}) }}">المقالات</a> </li>
                                <li class="btn-success"><a href="{{ path('fe_show_profile_tip',{'slug':person.seo.slug}) }}">النصائح</a> </li>
                                <li class="active btn-primary"><a href="{{ path('fe_show_profile_menu_planner',{'slug':person.seo.slug}) }}">صندوق الوصفات</a> </li>
                            </ul>
                            <div class="tabs-contents">
                                <div class="tab-block" style="display: block">
                                    <div class="row user-account-wrapper">
                                        {% if menuPlanners|length > 0 %}
                                        {% for menuPlanner in menuPlanners %}
                                        <div class="col-xs-12 col-md-4 recipe-column entity" style="margin-bottom: 20px;overflow: hidden;" id="{{ menuPlanner.id }}" data-url="{{ path('fe_menu_planner_send_mail', {'slug':menuPlanner.seo.slug}) }}">
                                            <article class="hentry clearfix borders">
                                                <figure class="col-xs-12 col-md-5 recipe-thumbnail thumbnail-hover" style="padding: 0;">
                                                {% if menuPlanner.menuPlannerHasRecipes|length > 0 %}
                                                    {% set recipe = menuPlanner.recipe %}
                                                    {% if recipe.post.mainImage %}
                                                        {% set mainImage = asset("uploads/recipe/image/" ~ recipe.post.id ~ "/"  ~ recipe.post.mainImage.id)  %}
                                                    {% elseif recipe.youtubeUrl != null %}
                                                        {% set mainImage = asset('bundles/fe/images/placeholders/topRecipe-placeholderVideo.jpg') %}
                                                    {% else %}
                                                        {% set mainImage = asset('bundles/fe/images/placeholders/topRecipe-placeholder.jpg') %}
                                                    {% endif %}
                                                {% else %}
                                                    {% set mainImage = asset('bundles/fe/images/placeholders/topRecipe-placeholder.jpg') %}
                                                {% endif %}
                                                <img class="img-responsive" src="{{ mainImage }}" alt="{{ menuPlanner.title }}" style="height: 115px;">
                                                <a class="view-thumbnail" data-rel="top-recipes-2" href="{{ path('fe_menu_planner_show', {'slug':menuPlanner.seo.slug}) }}">
                                                    <i class="fa fa-eye thumbnail-view-icon"></i>
                                                </a>
                                            </figure>
                                            <div class="col-xs-12 col-md-7 recipe-detail">
                                                <h2 class="entry-title recipe-title"><a href="{{ path('fe_menu_planner_show', {'slug':menuPlanner.seo.slug}) }}">{{ menuPlanner.title }}</a></h2>
                                                <div class="most-home">
                                                    <p>عدد الوصفات : {{ menuPlanner.menuPlannerHasRecipes|length }}</p>
                                                </div>
                                                <footer class="entry-meta recipe-entry-meta recipe-bottom-meta clearfix">
                                                    <a href="javascript:;" class="read-more share-mail"><i class="fa fa-share-alt"></i> مشاركة</a>
                                                    {% if app.user != null and app.user.person.id != menuPlanner.person.id %}
                                                    <a href="{{ path('fe_menu_planner_copy',{'slug':menuPlanner.seo.slug}) }}" class="read-more"><i class="fa fa-save"></i> حفظ</a>
                                                    {% endif %}
                                                </footer>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                        <div class="alert alert-warning">لا توجد مجدات الأن</div>
                                    {% endif %}
                                    {{ include('CMSBundle:FrontEnd/HomePage:Pagination.html.twig', {'paginator':paginator}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- .main -->
                </div>
                <!-- .col-main -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <div class="lightbox"></div>
    <div class="lighbox_content">
        <div class="close-lightbox fa fa-remove" style="display: block"></div>
        <div class="send_to_mail">
            <div class="text-center">
                <h2 class="widget-title heading-bottom-line" style="margin-bottom: 5px;padding-bottom: 5px">مشاركة بواسطة البريد الإلكتروني</h2>
            </div>
            <div class="product-descriptions col-md-12 popUp-msg">
                <form action="javascript:;" method="post" id="register" class="addingNewFolderForm">
                    <div style="margin-bottom:15px;">
                        <input id="email" class="email required" name="email" type="text" placeholder="البريد الإلكتروني" data-msg-required="برجاء كتابة بريدك الإلكتروني." data-msg-email="برجاء كتابة بريدك الإلكتروني صحيح.">
                    </div>
                    <div style="margin-bottom:15px;">
                        <textarea style="height: 92px;" placeholder="أكتب رسالتك" class="required" data-msg-required="برجاء كتابة رسالتك" name="message"></textarea>
                    </div>
                    <div class="-group text-center">
                        <button type="submit" class="btn btn-danger" value="">إرسال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fe/js/contact.js') }}"></script>
    <script>
        $('.art .fav').click(function () {
            var article_id = $(this).parent().parent().parent().parent().attr("id");
            $this = $(this);
            $.ajax({
                type: "POST",
                url: "{{ path('fe_article_favorite_ajax') }}",
                data: {'id': article_id},
                success: function (result) {
                    if (result == 1) {
                        $this.addClass('active');
                    }
                    if (result == 0) {
                        $this.removeClass('active');
                    }
                }
            });
        });
        $('.follow').click(function () {
            $this = $(this);
            $this.attr("disabled", 'disabled');
            $.ajax({
                type: "POST",
                url: "{{ path('fe_follow_user', {'slug':person.seo.slug}) }}",
                success: function (result) {
                    if (result == 1) {
                        $this.empty().text('إلغاء المتابعة');
                        $('.follow').removeAttr("disabled");
                        $this.removeClass('btn-info');
                        $this.addClass('btn-warning');
                    }
                    if (result == 0) {
                        $this.empty().text('تابعني');
                        $('.follow').removeAttr("disabled");
                        $this.addClass('btn-info');
                        $this.removeClass('btn-warning');
                    }
                }
            });
        });
        $(document).ready(function ($) {

            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                            if (window.console) {
                                    return console.log('onShown event fired');
                            }
                    },
                    onContentLoaded: function() {
                            if (window.console) {
                                    return console.log('onContentLoaded event fired');
                            }
                    },
                    onNavigate: function(direction, itemIndex) {
                            if (window.console) {
                                    return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                            }
                    }
                });
            });

            $('#open-image').click(function (e) {
                    e.preventDefault();
                    $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                    e.preventDefault();
                    $(this).ekkoLightbox();
            });

            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
                    event.preventDefault();
                    return $(this).ekkoLightbox({
                            onShown: function() {
                                    var lb = this;
                                    $(lb.modal_content).on('click', '.modal-footer a#jumpit', function(e) {
                                            e.preventDefault();
                                            lb.navigateTo(2);
                                    });
                                    $(lb.modal_content).on('click', '.modal-footer a#closeit', function(e) {
                                            e.preventDefault();
                                            lb.close();
                                    });
                            }
                    });
            });
        });
        $(document).ready(function () {
            $('.share-mail').click(function () {
                $('.lighbox_content, .lightbox, .send_to_mail').fadeIn();
                var url = $(this).parent().parent().parent().parent().attr('data-url');
                $("#register").attr("action", url);
            });
            $('.fa-remove').click(function () {
                $('.lighbox_content, .lightbox, .add_folder, .send_to_mail').fadeOut();
            });
        });
    </script>
{% endblock %}