{% extends 'FEBundle::base.html.twig' %}
{% block title %}{{ person.seo.title }}{% endblock %}
{% block breadcrumb %}
    <div class="home-carousel-one carousel-second-style owl-carousel">
        {{ render(controller('CMSBundle:FrontEnd/Banner:Banner' , {'placment' : 1 })) }}
    </div>
    <div class="page-banner" style="background: #ffc81b;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title pull-right"><i class="fa fa-user"></i> {{ person.seo.title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('fe_home') }}">الرئيسية</a></li>
                        <li><a href="{{ path('fe_show_profile', {'slug':person.seo.slug}) }}">{{ person.seo.title }}</a></li>
                        <li>المقالات</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="user-profile">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <div class="current-user">
                        <figure class="user-photo thumbnail-hover">
                            {% if person.image != null %}
                                <img src="{{ asset('uploads/person/'~person.id~'/'~person.image.id) }}" alt="{{ person.firstName }}"/>
                            {% elseif person.firstAccount.userFacebook != null %}
                                <img src="https://graph.facebook.com/{{ person.firstAccount.userFacebook.facebookId }}/picture?type=large&width=201&height=201"  alt="{{ person.firstName }}"/>
                            {% else %}    
                                <img src="{{ asset('bundles/fe/images/user-2.jpg') }}" alt="{{ person.firstName }}"/>
                            {% endif %}
                        </figure>
                        <div class="user-details" style="margin-bottom:10px;">
                            <h2 class="user-name">{{ person.firstName ~ ' ' ~ person.familyName }}</h2>
                            <p>البريد الإلكترونى :<br/> {{ person.email }}</p>
                                {% if app.user != null and app.user.person.id != person.id %}
                                    {% if app.user.person.isFollower(person.id) == false %}
                                    <a class="btn btn-info btn-block" href="#" style="margin: 0 auto!important;width: 100px">تابعنى</a>
                                {% else %}
                                    <a href="#" class="btn btn-warning btn-block" style="margin: 0 auto!important;width: 100px">إلغاء المتابعة</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xs-12 recipe-request-form-column">
                    <h3 class="form-heading text-center">المتابعين</h3>
                    {% if followers|length > 0 %}
                        {% for follower in followers %}
                            <div class="col-xs-3 hidden-xs">
                                <a href="{{ path('fe_show_profile', {'slug':follower.seo.slug}) }}">
                                    {% if follower.image != null %}
                                        <img src="{{ asset('uploads/person/'~follower.id~'/'~follower.image.id) }}" class="img-circle" style="height: 120px" alt="{{ follower.firstName }}"/>
                                    {% elseif follower.firstAccount.userFacebook != null %}
                                        <img src="https://graph.facebook.com/{{ follower.firstAccount.userFacebook.facebookId }}/picture?type=large&width=201&height=201" class="img-circle" style="height: 120px" alt="{{ follower.firstName }}"/>
                                    {% else %}    
                                        <img src="{{ asset('bundles/fe/images/user.jpg') }}" class="img-circle" style="height: 120px" alt="{{ follower.firstName }}"/>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                        {% if followers|length > 4 %}
                        <div class="col-md-12 text-center">
                            <a href="{{ path('fe_show_follower', {'slug':person.seo.slug}) }}">المزيد</a>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning">لا يوجد متابعين حتى الأن</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- .container -->
    </section>
    <!-- .user-profile -->
    <div class="page-wrapper user-accounts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-main">
                    <main id="main" class="main">
                        <div class="tabs-wrapper">
                            <ul class="tab-list clearfix">
                                <li class="btn-danger"><a href="{{ path('fe_show_profile_recipe',{'slug':person.seo.slug}) }}">الوصفات</a> </li>
                                <li class="active btn-warning"><a href="{{ path('fe_show_profile_article',{'slug':person.seo.slug}) }}">المقالات</a> </li>
                                <li class="btn-success"><a href="{{ path('fe_show_profile_tip',{'slug':person.seo.slug}) }}">النصائح</a> </li>
                                <li class="btn-primary"><a href="{{ path('fe_show_profile_menu_planner',{'slug':person.seo.slug}) }}">صندوق الوصفات</a> </li>
                            </ul>
                            <div class="tabs-contents">
                                <div class="tab-block" style="display: block">
                                    <section class="our-blog">
                                        <div class="row">
                                            {% if articles|length > 0 %}
                                            {% for article in articles %}
                                                <article class="col-md-6 col-sm-6 col-xs-12 art" id="{{ article.id }}">
                                                    <div class="hentry home-blog-post clearfix">
                                                        <figure class="col-xs-4 post-thumbnail thumbnail-hover">
                                                            {% if article.youtubeUrl != null %}
                                                                <img src="{{ asset('bundles/fe/images/play-btn.png') }}" class="plays">
                                                            {% endif %}
                                                            {% if article.post.mainImage %}
                                                                {% set mainImage = asset("uploads/article/image/" ~ article.post.id ~ "/"  ~ article.post.mainImage.id)  %}
                                                            {% else %}
                                                                {% set mainImage = asset('bundles/fe/images/placeholders/homeArticle-placeholder.jpg') %}
                                                            {% endif %}
                                                            <img class="img-responsive" src="{{ mainImage }}" alt="{{ article.title }}" style="height: 175px;"> 
                                                            {% if article.youtubeUrl != null %}
                                                                <a class="swipebox-video view-thumbnail" data-gallery="youtubevideos" data-toggle="lightbox" href="{{ article.youtubeUrl }}"><i class="fa fa-youtube-play thumbnail-view-icon"></i></a>
                                                                {% else %}
                                                                <a class="view-thumbnail" href="{{ path('fe_show_article', {'slug':article.seo.slug}) }}">
                                                                    <i class="fa fa-eye thumbnail-view-icon"></i>
                                                                </a>
                                                            {% endif %}
                                                        </figure>
                                                        <div class="col-xs-8 post-content">
                                                            <h2 class="entry-title post-title"><a href="{{ path('fe_show_article', {'slug':article.seo.slug}) }}">
                                                                    {% if article.title|length > 34 %}
                                                                        {{ article.title|slice(0, 34) }} ...
                                                                    {% else %}
                                                                        {{ article.title }}
                                                                    {% endif %}
                                                                </a></h2>
                                                            <div class="art-home">
                                                                {% if article.post.content.description|length > 80 %}
                                                                    <p>{% if article.post.content.description is defined %}{{ article.post.content.description|striptags|replace({'&hellip;':' ','&nbsp;':' '})|slice(0, 80) }}...{% endif %}</p>
                                                                {% else %}
                                                                    <p>{% if article.post.content.description is defined %}{{ article.post.content.description|striptags|replace({'&hellip;':' ','&nbsp;':' '}) }}{% endif %}</p>
                                                                {% endif %}
                                                            </div>
                                                            <div class="entry-meta arts">
                                                                <span class="published-date"><i class="fa fa-clock-o"></i> <time class="entry-date published">{{ article.created|date('d/m/Y') }}</time></span>
                                                                <div data-rating="{{ article.generalRationg }}" class="rating" style="display: inline-block;margin:0px 11px">
                                                                    <i class="fa fa-star-o one"></i> <i class="fa fa-star-o two"></i> <i class="fa fa-star-o three"></i> <i class="fa fa-star-o four"></i> <i class="fa fa-star-o five"></i>
                                                                </div>
                                                                <div class="share-icons">
                                                                    <div class="social-media-icons">
                                                                        <a class="facebook" target="_blank" href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                                                        <a class="twitter" target="_blank" href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                                                        <a class="linkedin" target="_blank" href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                                                        <a class="gplus" target="_blank" href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                                                        <a class="mail" target="_blank" href="#"><i class="fa fa-envelope fa-lg"></i></a>
                                                                        <span class="close-share-icons close"><i class="fa fa-close fa-lg"></i></span>
                                                                    </div>
                                                                </div>
                                                                <a href="javascript:;" class="share-this"><i class="fa fa-share-alt"></i> مشاركة</a>
                                                                {% if app.user is not null %}
                                                                    <a href="javascript:;" class="read-more fav {% if article.isArticleFavByUserId(app.user.person.id) == true %}active{% endif %}"><i class="fa fa-heart"></i> تفضيل</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            {% endfor %}
                                            {% else %}
                                                <div class="alert alert-warning">لا توجد مقالات الأن</div>
                                            {% endif %}
                                        </div>
                                        {{ include('CMSBundle:FrontEnd/HomePage:Pagination.html.twig', {'paginator':paginator}) }}
                                    </section>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- .main -->
                </div>
                <!-- .col-main -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $('.art .fav').click(function () {
            var article_id = $(this).parent().parent().parent().parent().attr("id");
            $this = $(this);
            $.ajax({
                type: "POST",
                url: "{{ path('fe_article_favorite_ajax') }}",
                data: {'id': article_id},
                success: function (result) {
                    if (result == 1) {
                        $this.addClass('active');
                    }
                    if (result == 0) {
                        $this.removeClass('active');
                    }
                }
            });
        });
        $('.follow').click(function () {
            $this = $(this);
            $this.attr("disabled", 'disabled');
            $.ajax({
                type: "POST",
                url: "{{ path('fe_follow_user', {'slug':person.seo.slug}) }}",
                success: function (result) {
                    if (result == 1) {
                        $this.empty().text('إلغاء المتابعة');
                        $('.follow').removeAttr("disabled");
                        $this.removeClass('btn-info');
                        $this.addClass('btn-warning');
                    }
                    if (result == 0) {
                        $this.empty().text('تابعني');
                        $('.follow').removeAttr("disabled");
                        $this.addClass('btn-info');
                        $this.removeClass('btn-warning');
                    }
                }
            });
        });
        $(document).ready(function ($) {

            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                            if (window.console) {
                                    return console.log('onShown event fired');
                            }
                    },
                    onContentLoaded: function() {
                            if (window.console) {
                                    return console.log('onContentLoaded event fired');
                            }
                    },
                    onNavigate: function(direction, itemIndex) {
                            if (window.console) {
                                    return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                            }
                    }
                });
            });

            $('#open-image').click(function (e) {
                    e.preventDefault();
                    $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                    e.preventDefault();
                    $(this).ekkoLightbox();
            });

            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
                    event.preventDefault();
                    return $(this).ekkoLightbox({
                            onShown: function() {
                                    var lb = this;
                                    $(lb.modal_content).on('click', '.modal-footer a#jumpit', function(e) {
                                            e.preventDefault();
                                            lb.navigateTo(2);
                                    });
                                    $(lb.modal_content).on('click', '.modal-footer a#closeit', function(e) {
                                            e.preventDefault();
                                            lb.close();
                                    });
                            }
                    });
            });
        });
    </script>
{% endblock %}