{% extends 'FEBundle::base.html.twig' %}
{% block title %}تغيير كلمة السر{% endblock %}
{% block breadcrumb %}
    <div class="home-carousel-one carousel-second-style owl-carousel">
        {{ render(controller('CMSBundle:FrontEnd/Banner:Banner' , {'placment' : 1 })) }}
    </div>
    <div class="page-banner" style="background: #79b22b;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title"><i class="fa fa-key"></i> تغيير كلمة السر</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('fe_home') }}">الرئيسية</a></li>
                        <li class="active">تغيير كلمة السر</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="page-wrapper user-accounts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-main">
                    <main id="main" class="main">
                        <div class="tabs-wrapper">
                            <ul class="tab-list clearfix">
                                {{ render(controller('UserBundle:FrontEnd/Account:tabs')) }}
                            </ul>
                            <div class="tab-block" style="display: block">
                                <div class="row user-account-wrapper">

                                    <form id="register" class="register-form" action="{{path("fe_change_password")}}" method="post" novalidate="novalidate">
                                        <div class="col-md-8 forms-wrapper" style="padding-top: 30px;">
                                            <div class="register-form-wwrapper">
                                                <h2 class="form-heading heading-bottom-line">تغيير كلمة السر</h2>
                                                <div class="clearfix">
                                                    <p class="col-md-6 col-sm-6 col-xs-12">
                                                        <label>كلمة المرور الجديدة<span class="requir">*</span></label>
                                                        <input id="nPassword" class="required" name="n_password" type="password" placeholder="كلمة المرور الجديدة" data-msg-required="برجاء كتابة كلمة المرور الجديدة.">
                                                    </p>
                                                    <p class="col-md-6 col-sm-6 col-xs-12">
                                                        <label>تأكيد كلمة المرور الجديدة<span class="requir">*</span></label>
                                                        <input name="r_password" id="renPassword" class="required password" type="password" placeholder="تأكيد كلمة المرور الجديدة" data-msg-required="برجاء إعادة كتابة كلمة المرور الجديدة ." data-msg-equalTo="برجاء إعادة كتابة كلمة المرور صحيحة .">
                                                    </p>
                                                </div>
                                                <div class="clearfix col-md-12 col-sm-12 col-xs-12">
                                                    <input type="submit" class="submit-btn" name="submit" value="تغيير كلمة السر">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- .main -->
                </div>
                <!-- .col-main -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/fe/js/contact.js') }}"></script>
{% endblock %} 