<li class="btn-primary"><a href="{{ path('fe_my_profile') }}"><i class="fa fa-user"></i> تعديل بياناتى الشخصية</a></li>
<li class="btn-danger"><a href="{{ path('fe_my_recipe') }}"><i class="fa fa-bars"></i> وصفاتي</a></li>
<li class="btn-warning"><a href="{{ path('fe_my_articale') }}"><i class="fa fa-file-text-o"></i> مقالاتي</a></li>
<li class="btn-success"><a href="{{ path('fe_my_tip') }}"><i class="fa fa-file-text"></i> نصائحي</a></li>
<li class="btn-info"><a href="{{ path('fe_my_favorite') }}"><i class="fa fa-heart"></i> مفضلاتي</a></li>
<li class="btn-danger"><a href="{{ path('fe_add_recipe') }}"><i class="fa fa-plus"></i> ضيفي وصفتك</a></li>
<li class="btn-warning"><a href="{{ path('fe_add_article') }}"><i class="fa fa-plus"></i> ضيفي مقالك</a></li>
<li class="btn-success"><a href="{{ path('fe_add_tip') }}"><i class="fa fa-plus"></i> ضيفي نصيحتك</a></li>